html {
  background: url(../images/burger.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.75;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: #051937;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #fff;
}

.app-section {
  background-color: rgba(33, 37, 41, 0.9);
  width: 70%;
  height: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1.5em 0.5em;
}

h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 0.12em;
  color: #f7d002;
  text-shadow: -4px 3px #454e9e;
  font-size: 3rem;
  margin: 0;
}

.info {
  border-bottom: 2px solid #f7d002;
  font-size: 1.2rem;
}

.menu-item {
  list-style: none;
}

.container {
  width: 95%;
  margin: 0 auto;
  background-color: #454e9e;
  border: 2px solid #fff;
  border-radius: 20px;
}

.menu-container {
  display: none;
  text-align: left;
  font-size: 2rem;
}

.add-item-container {
  display: none;
}

.menu-container {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  padding: 0;
}

.default-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-text {
  background-color: #454e9e;
  color: #fff;
}

.btn-holder {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.25em;
  border-radius: 20px;
  font-family: "Bangers", cursive;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0.5em 1.5em;
}

.generate-menu-btn {
  background-color: #f7d002;
  border: 3px solid black;
  color: #051937;
}

.add-item-btn {
  background-color: #454e9e;
  color: #fff;
  border: 3px solid #fff;
}

.view-menu-btn {
  display: none;
  background-color: #051937;
  border: 3px solid #454e9e;
  color: #f7d002;
}

.add-item-btn:hover,
.view-menu-btn:hover,
.generate-menu-btn:hover {
  background-image: linear-gradient(
    to bottom,
    #212229,
    #242d60,
    #303497,
    #5430cb,
    #8c00f9
  );
  color: #fff;
  text-shadow: -1px 0.5px #051937;
  border: 2px solid #fff;
}

@media (max-width: 700px) {
  .btn-holder {
    flex-direction: column;
    align-items: center;
  }

  .menu-container {
    font-size: 1.2rem;
  }
}
